# .gitignore

# Node.js
/Backend/node_modules/
/Backend/.env
/Backend/uploads/

# Python
/AI/venv/
/AI/.env

#frontend
/frontend/node_modules/
/frontend/.env

# Root level folders
/node_modules/ 

# Visual Studio Code
.vscode/

# Logs and other files
*.log
.DS_Store
